.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 140px;
    background: #fff;
    border-bottom: 1px solid #eee;
    z-index: 999;
}

.header .header_t {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #fafafa;
    padding: 27px 0 17px 0;
}

.header h1 {
    width: 150px;
    z-index: 1000;
}

.header .header_b {
    display: flex;
    justify-content: space-between;
}

.header .gnb>ul {
    display: flex;
    gap: 56px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -28px;
    transform: translate(0, -50%);
    width: 1px;
    height: 14px;
    background: #eee;
}

.header .gnb>ul>li>a {
    display: block;
    font-weight: 500;
    line-height: 56px;
}

.header .gnb .sub {
    position: absolute;
    top: 56px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

.header .gnb .sub>li {
    background: #fff;
    visibility: hidden;
    height: 0;
}

.header .gnb>ul>li:hover .sub>li {
    visibility: visible;
    height: 100%;
}

.header .gnb .sub>li~li {
    border-top: 1px solid #eee;
}

.header .gnb .sub>li>a {
    display: block;
    line-height: 40px;
    font-size: 14px;
    width: 170px;
}

.header .login {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header .login>li {
    position: relative;
}

.header .login>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -12px;
    transform: translate(0, -50%);
    width: 1px;
    height: 14px;
    background: #eee;
}

.header .login li a {
    font-size: 14px;
}

.header .login .language {
    cursor: pointer;
}

.header .login .language i {
    font-size: 14px;
    padding: 0 0 0 2px;
}



/* visual */
.main_vi {
    position: relative;
}

.main_vi .main_slide .itm {
    position: relative;
    height: 640px;
}

.main_vi .main_slide .itm01 {
    background: url(../images/main_vi01.jpg) no-repeat center center/cover;
}

.main_vi .main_slide .itm02 {
    background: url(../images/main_vi02.jpg) no-repeat center center/cover;
}

.main_vi .main_slide .itm03 {
    background: url(../images/main_vi03.jpg) no-repeat center center/cover;
}

.main_vi .main_slide .itm04 {
    background: url(../images/main_vi04.jpg) no-repeat center center/cover;
}

.main_vi .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    margin: 0 0 0 -585px;
    color: #fff;
}

.main_vi .slogan strong {
    display: block;
    margin: 0 0 12px 0;
    color: #ddd;
}

.main_vi .slogan h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 16px 0;
}

.main_vi .slogan p {
    font-weight: 300;
    color: #ddd;
    width: 370px;
    margin: 0 0 40px 0;
}

.main_vi a {
    display: block;
    width: 170px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #fff;
}

.main_vi .arrows {
    position: absolute;
    top: 50%;
    color: red;
    left: 50%;
}

/* main_hosp */
.main_hosp .logo {
    margin: 0 0 12px 0;
}

.main_hosp .logo img {
    width: 160px;
}

.main_hosp .hosp_wrap {
    display: flex;
    justify-content: space-between;
}

.main_hosp .hosp_wrap>li {
    width: 100%;
    height: 450px;
    background: #ddd;
    color: #fff;
    position: relative;
}

.main_hosp .hosp_wrap .hosp01 {
    background: url(../images/hosp01.jpg) no-repeat center center/cover;
}

.main_hosp .hosp_wrap .hosp02 {
    background: url(../images/hosp02.jpg) no-repeat center center/cover;
}

.main_hosp .hosp_wrap .hosp03 {
    background: url(../images/hosp03.jpg) no-repeat center center/cover;
}

.main_hosp .hosp_wrap .hosp04 {
    background: url(../images/hosp04.jpg) no-repeat center center/cover;
}

.main_hosp .hosp_wrap>li:hover {
    background-blend-mode: multiply;
    background-color: #888;
}

.main_hosp .hosp_wrap>li>a {
    display: block;
    font-size: 20px;
    font-weight: 500;
    padding: 30px 0 0 0;
}

.main_hosp .hosp_wrap .txt_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_hosp .hosp_wrap .txt_box>li {
    display: none;
    line-height: 30px;
    font-weight: 300;
}

.main_hosp .hosp_wrap>li:hover .txt_box>li {
    display: block;
}

/* main_banner */
.main_bann .banner_slide figure {
    position: relative;
    height: 480px;
}

.main_bann .banner_slide .itm01 {
    background: url(../images/banner_01.jpg) no-repeat center center/cover;
}

.main_bann .banner_slide .itm02 {
    background: url(../images/banner_02.jpg) no-repeat center center/cover;
}

.main_bann .banner_slide .itm03 {
    background: url(../images/banner_03.jpg) no-repeat center center/cover;
}

.main_bann .banner_slide .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    margin: 0 0 0 -585px;
}

.main_bann .banner_slide .slogan h3 {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 12px 0;
}

.main_bann .banner_slide .slogan p {
    font-weight: 300;
    margin: 0 0 32px 0;
}

.main_bann .banner_slide .slogan a {
    display: block;
    line-height: 40px;
    width: 170px;
    text-align: center;
    color: #666;
    border: 1px solid #888;
}

.main_bann .slick-dots {
    position: absolute;
    bottom: 24px;
    left: 50%;
    margin: 0 0 0 -585px;
}
.main_bann .slick-dots>li {
    display: inline-block;
}
.main_bann .slick-dots>li button {
    font-size: 0;
    width: 56px;
    height: 10px;
    border: 1px solid #888;
    border-radius: 50px;
    cursor: pointer;
}
.main_bann .slick-dots>li~li button {
    margin: 0 0 0 8px;
}
.main_bann .slick-dots>li.slick-active button {
    border: 1px solid #132e26;
    background: #132e26;
}

/* main_notice */
.main_noti .noti_wrap {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.main_noti .noti_wrap>* {
    flex: 1;
    border: 1px solid #ddd;
    background: #fff;
}

.main_noti .noti_wrap .notice {
    padding: 48px 35px 40px 35px;
}

.main_noti .noti_wrap .service {
    padding: 48px 35px;
}

.main_noti .noti_wrap .quick {
    padding: 48px 35px;
}

.main_noti h3 {
    position: relative;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 48px 0;
}

.main_noti h3::after {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 73px;
    height: 2px;
    background: #ddd;
}

.main_noti .notice_box {
    position: relative;
    padding: 16px;
    margin: 0 0 8px 0;
    background: #f9f9f9;
}

.main_noti .notice_box strong {
    display: block;
    color: #555;
    font-weight: 500;
    margin: 0 0 8px 0;
}

.main_noti .notice_box p {
    font-size: 12px;
    font-weight: 300;
    color: #666;
}

.main_noti .notice_box i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    font-weight: bold;
}

.main_noti .service_box {
    text-align: center;
}

.main_noti .service_box span {
    display: block;
    font-weight: 500;
    color: #888;
    margin: 0 0 8px 0;
}

.main_noti .service_box strong {
    display: block;
    font-size: 48px;
    font-weight: 700;
    margin: 0 0 18px 0;
}

.main_noti .service_box .time {
    margin: 0 0 34px 0;
}

.main_noti .service_box .time>li {
    line-height: 24px;
    color: #888;
}

.main_noti .service_box .btn_box {
    justify-content: center;
    display: flex;
    gap: 16px;
}

.main_noti .service_box .btn_box>li {
    border: 1px solid #ddd;
    width: 140px;
}

.main_noti .service_box .btn_box>li>a {
    display: block;
    width: 100%;
    color: #666;
    line-height: 56px;
}

.main_noti .quick_box>ul {
    margin: 0 0 31px 0;
}

.main_noti .quick_box>ul>li {
    margin: 0 0 8px 0;
}

.main_noti .quick_box .quick_input {
    line-height: 56px;
    width: 100%;
    border: 1px solid #ddd;
    padding: 0 0 0 16px;
}

.main_noti input::placeholder {
    color: #aaa;
}

.main_noti input:focus {
    outline: none;
}

.main_noti .quick_box a {
    display: block;
    width: 100%;
    padding: 20px 0;
    background: #444;
    text-align: center;
    color: #fff;
}

/* footer */
.footer {
    padding: 50px 0;
    background: #132e26;
}

.footer .st {
    color: #fff;
}

.footer .footer_t {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid rgba(48, 94, 80, 0.3);
}

.footer .footer_t .logo img {
    width: 150px;
    filter: invert();
}

.footer .footer_t .info_nav {
    display: flex;
    gap: 40px;
}

.footer .footer_t .info_nav li {
    position: relative;
}

.footer .footer_t .info_nav li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(0, -50%);
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: rgba(48, 94, 80, 0.3);
}

.footer .footer_t .sns {
    display: flex;
    gap: 16px;
    padding: 0 0 0 60px;
    width: 150px;
}

.footer .footer_t .sns i {
    font-size: 20px;
    transition: 0.5s;
}

.footer .footer_t .sns i:hover {
    color: #fff;
}

.footer .footer_b {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 16px;
}

.footer .footer_b .time {
    width: 200px;
}

.footer .footer_b .add {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}

.footer .footer_b .add .co {
    font-size: 12px;
    padding: 23px 0 0 0;
}

.footer .footer_b .tel {
    width: 200px;
    text-align: right;
}

.footer .footer_b .tel span {
    display: block;
    font-size: 14px;
    margin: 0 0 20px 0;
}

.footer .footer_b .tel strong {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 20px 0;
}

.footer .footer_b .tel p {
    font-size: 12px;
    font-weight: 300;
}

.footer .footer_b .st {
    font-size: 20px;
    margin: 0 0 20px 0;
}