.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    background: #fff;
    border-bottom: 1px solid #eee;
    z-index: 999;
}

.header .header_t {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #fafafa;
    padding: 20px 0;
}

.header h1 {
    width: 150px;
    z-index: 1000;
}

.header .header_b {
    display: flex;
    justify-content: space-between;
}

.header .gnb>ul {
    display: flex;
    gap: 56px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -28px;
    transform: translate(0, -50%);
    width: 1px;
    height: 14px;
    background: #eee;
}

.header .gnb>ul>li>a {
    display: block;
    font-weight: 500;
    line-height: 39px;
}

.header .gnb .sub {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

.header .gnb .sub>li {
    background: #fff;
    visibility: hidden;
    height: 0;
}

.header .gnb>ul>li:hover .sub>li {
    visibility: visible;
    height: 100%;
}

.header .gnb .sub>li~li {
    border-top: 1px solid #eee;
}

.header .gnb .sub>li>a {
    display: block;
    line-height: 40px;
    font-size: 14px;
    width: 160px;
}

.header .login {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header .login>li {
    position: relative;
}

.header .login>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -12px;
    transform: translate(0, -50%);
    width: 1px;
    height: 14px;
    background: #eee;
}

.header .login li a {
    font-size: 14px;
}

.header .login .language {
    cursor: pointer;
}

.header .login .language i {
    font-size: 14px;
    padding: 0 0 0 2px;
}



/* visual */
.main_vi {
    position: relative;
}

.main_vi .main_slide .itm {
    position: relative;
    height: 600px;
}

.main_vi .main_slide .itm01 {
    background: url(../images/main_vi01.jpg) no-repeat center center/cover;
}

.main_vi .main_slide .itm02 {
    background: url(../images/main_vi02.jpg) no-repeat center center/cover;
}

.main_vi .main_slide .itm03 {
    background: url(../images/main_vi03.jpg) no-repeat center center/cover;
}

.main_vi .main_slide .itm04 {
    background: url(../images/main_vi04.jpg) no-repeat center center/cover;
}

.main_vi .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    margin: 0 0 0 -585px;
    color: #fff;
}

.main_vi .slogan strong {
    display: block;
    margin: 0 0 16px 0;
    font-weight: 500;
    color: #eee;
}

.main_vi .slogan h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 16px 0;
}

.main_vi .slogan p {
    width: 500px;
    font-weight: 300;
    color: #ddd;
    margin: 0 0 32px 0;
}

.main_vi .btn {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
}

.main_vi .btn:hover {
    border: 1px solid #132e26;
    background: #132e26;
}

.main_vi .arrows {
    position: absolute;
    top: 50%;
    color: red;
    left: 50%;
}

/* main_hosp */
.main_hosp {
    text-align: center;
}

.main_hosp .logo {
    margin: 0 0 16px 0;
}

.main_hosp .logo img {
    width: 240px;
}

.main_hosp .hosp_wrap {
    display: flex;
    justify-content: space-between;
}

.main_hosp .hosp_wrap>li {
    width: 100%;
    height: 450px;
    background: #ddd;
    color: #fff;
    position: relative;
}

.main_hosp .hosp_wrap .hosp01 {
    background: url(../images/hosp01.jpg) no-repeat center center/cover;
}

.main_hosp .hosp_wrap .hosp02 {
    background: url(../images/hosp02.jpg) no-repeat center center/cover;
}

.main_hosp .hosp_wrap .hosp03 {
    background: url(../images/hosp03.jpg) no-repeat center center/cover;
}

.main_hosp .hosp_wrap .hosp04 {
    background: url(../images/hosp04.jpg) no-repeat center center/cover;
}

.main_hosp .hosp_wrap>li:hover {
    background-blend-mode: multiply;
    background-color: #888;
}

.main_hosp .hosp_wrap>li>a {
    display: block;
    font-size: 20px;
    font-weight: 500;
    padding: 30px 0 0 0;
}

.main_hosp .hosp_wrap .txt_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_hosp .hosp_wrap .txt_box>li {
    display: none;
    line-height: 30px;
    font-weight: 300;
}

.main_hosp .hosp_wrap>li:hover .txt_box>li {
    display: block;
}

/* main_banner */
.main_bann {
    position: relative;
    padding: 100px 0 0 0;
}

.main_bann .tit {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    padding: 70px 0;
    background: #132e26;
    color: #fff;
    z-index: 990;
}

.main_bann .tit h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 12px 0;
}

.main_bann .tit p {
    font-size: 16px;
    font-weight: 300;
}

.main_bann .banner_slide {}

.main_bann .banner_slide figure {
    position: relative;
    height: 600px;
}

.main_bann .banner_slide .itm01 {
    background: url(../images/banner_01.jpg) no-repeat center center/cover;
}

.main_bann .banner_slide .itm02 {
    background: url(../images/banner_02.jpg) no-repeat center center/cover;
}

.main_bann .banner_slide .itm03 {
    background: url(../images/banner_03.jpg) no-repeat center center/cover;
}

.main_bann figure .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    margin: 0 0 0 -585px;
}

.main_bann figure .slogan h3 {}

.main_bann figure .slogan p {}

.main_bann figure .slogan .btn {
    border: 1px solid #444;
    transition: 0.5s;
}

.main_bann figure .slogan .btn:hover {
    color: #fff;
    background: #132e26;
    border: 1px solid #132e26;
}

.main_bann figure .slogan .btn i {}

/* footer */
.footer {
    padding: 50px 0;
    background: #132e26;
}

.footer .st {
    color: #fff;
}

.footer .footer_t {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid rgba(48, 94, 80, 0.3);
}

.footer .footer_t .logo img {
    width: 150px;
    filter: invert();
}

.footer .footer_t .info_nav {
    display: flex;
    gap: 40px;
}

.footer .footer_t .info_nav li {
    position: relative;
}

.footer .footer_t .info_nav li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(0, -50%);
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: rgba(48, 94, 80, 0.3);
}

.footer .footer_t .sns {
    display: flex;
    gap: 16px;
    padding: 0 0 0 60px;
}

.footer .footer_t .sns i {
    font-size: 20px;
    transition: 0.5s;
}

.footer .footer_t .sns i:hover {
    color: #fff;
}

.footer .footer_b {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 16px;
}

.footer .footer_b .add {
    text-align: center;
}

.footer .footer_b .add .co {
    line-height: 30px;
}

.footer .footer_b .tel {
    text-align: right;
}

.footer .footer_b .tel span {
    display: block;
    font-size: 14px;
    margin: 0 0 20px 0;
}

.footer .footer_b .tel strong {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 20px 0;
}

.footer .footer_b .tel p {
    font-size: 12px;
    font-weight: 300;
}

.footer .footer_b .st {
    font-size: 20px;
    margin: 0 0 20px 0;
}